<!-- Start of first page -->
	<div data-role="page" id="home">

		<div data-role="header">
			<a href="#home" data-icon=home>Inicio</a>
			<h1>Registrar...</h1>
			
		</div><!-- /header -->

		<div data-role="content">	
			<a href="#partes" id="btnPartes" data-role="button" data-icon="carat-r">Partes</a>
			<a href="#compras" data-role="button" data-icon="carat-r">Compras</a>
			<a href="#obras" id="btnObras" data-role="button" data-icon="carat-r">Obras</a>
			<a href="#tareas" data-role="button" data-icon="carat-r">Tareas</a>	
		</div><!-- /content -->

		<div data-role="footer">
			<h4 id="times"></h4>
		</div><!-- /footer -->
	</div><!-- /page -->